body {
  font-family: "Helvetica Neue";
  background: linear-gradient(to bottom, #000, #222);
  color: #fff;
  height: 100vh;
}


#editor {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  overflow: auto;
}

.active {
  background-color: #f00;
  color: #fff;
}

.note {
  width: 30px;
  height: 20px;
}

.note.bar {
  border-right: 1px solid #fff;
}

table {
  border-collapse: collapse;
}
